---
import type { Post } from "../content/config";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<BaseLayout pageTitle={post.title}>
  <p>{post.pubDate.toString().slice(0, 10)}</p>
  <p><em>{post.description}</em></p>
  <p>Écrit par : {post.author}</p>
  <img src={post.image.url} width="300" alt={post.image.alt} />
  <div class="tags">
    {
      post.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
